html { 
	background-color: #C2E3F1;
	padding: 5px;
	width:70%;
	margin: auto;
}

body { 
	background-color: rgb(242, 242, 242);
	width: 100%;
	margin: 1px auto;
	height: 1000px;
	font: 15px "Verdana", "Genera", sans-serif;
	
	
}

header img {
	width: 100%;
	padding: 0;
	opacity: 0.7;
	
}

.container {
	position: relative;
	width: 100%;
}

section {
	padding: 10px;
}

h1 {
    position: absolute; 
    top: 55%; 
    left: 0; 
    width: auto; 
	color: white;
	padding: 15px;
	margin: -10px;
	font: bold 45px Helvetica, Sans-Serif; 
	background: rgba(69, 169, 211, 0.9);
}

h2 {
	font: bold 30px Helvetica, Sans-Serif; 
}

section.purpose {
	background-color:rgb(242, 242, 242); ;
	height: 380px;
	/* border-bottom: 2px solid rgb(217, 217, 217); */
	
}

article.statement {
	float: left;
	width: 68%; 
	margin: 0%;
	display: inline-block;
	padding-right: 2%;
	
	
}

aside.logo {
	float: left;
	width: 27%; 
	padding-left: 2%;
	display: inline-block;
	/* background-color: green;  */ 
	text-align: center;
	height: 380px;
	border-left: 2px solid rgb(225, 225, 225);
}

.logo img  {
	width: 80%;
	margin: auto;
	padding: 4px;
}

#summary{
	display: block;
	background-color: rgb(235, 235, 235);
	margin: auto;
	
}

#summary img {
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-ms-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#summary p {
	margin:1px 20px;
	text-align: left;
}
	
	

table {
    border-collapse: separate;

    margin: auto;
    border-spacing: 20px;
	padding: 5px;
} 

td {
    border: 2px solid rgb(204, 204, 204);
    border-radius:12px;                    /* Browser prefixes to ensure rounded corners on all browsers */
    -moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	-ms-border-radius: 12px;
    padding: 8px 5px;
    text-align: center;
    width: 20%;
    font-family: helvetica;
    font-size:15px;
} 


#programmes {
	/* background-color: yellow; */ 
	background-color: rgb(242, 242, 242);
	height: 2100px;
}

#programmes article{
	float: left;
	width: 60%;
	margin: 0%;
	display: inline-block;
	padding-right: 2%;
	border-bottom: 2px solid rgb(225, 225, 225);
	
}

#programmes aside {
	float: left;
	width: 33%;
	padding: 2%;
	margin-right: 2px;
	display: inline-block;
	text-align: center;
	color: rgb(64, 64, 64);
	text-align: left;
	
	/*border-left: 2px solid rgb(225, 225, 225);*/
	
}

footer {
	display: block;
	background-color: rgb(102, 102, 102);
	bottom: 10px;
	width: 100%;
}

.hidden {
	display: none;
}

a{
	color: black;
	text-decoration: none;
}

a:hover {
	color: #985d6a;
}



