html { 
	background-color: #C2E3F1;
	padding: 5px;
	width:70%;
	margin: auto;
}

body { 
	background-color: rgb(251, 252, 252);
	width: 100%;
	margin: 1px auto;
	height: 1000px;
	font: 15px "Verdana", "Genera", sans-serif;
	
}

header img {
	width: 100%;
	padding: 0;
	opacity: 0.7;
	
}

.container {
	position: relative;
	width: 100%;
}

section {
	padding: 10px;
}
h1 {
    position: absolute; 
    top: 55%; 
    left: 0; 
    width: auto; 
	color: white;
	padding: 15px;
	margin: -10px;
	font: bold 45px Helvetica, Sans-Serif; 
	background: rgba(69, 169, 211, 0.9);
}

h2 {
	font: bold 30px Helvetica, Sans-Serif; 
}


#statement {
	float: left;
	width: 75%; 
	margin: 0%;
	padding: 0; 
	display: inline-block;
	/* background-color: purple; */ 
	
}

#logo {
	float: right;
	width: 23%; 
	padding-left: 2%;
	display: inline-block;
	/* background-color: green; */
	text-align: center;
	
	
}

#logo img {
	width: 80%;
	margin: auto;
	padding: 4px;
}

footer {
	display: block;
	background-color: blue;
	bottom: 10px;
}